<div class="bodycontainer">
    <section>
        <mat-card class="input-card">
            <mat-card-header>
                <mat-card-title>Enter your Transaction</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-user-input></app-user-input>
            </mat-card-content>
        </mat-card>
    </section>
    <div class="info-section">
        <app-info-card class="cardinfo"></app-info-card>
        <app-info-card class="cardinfo"></app-info-card>
    </div>
    <div class="transactions">
       <app-transactions></app-transactions> 
    </div>
</div>