.input-card{
    width: 100%;
    background-color: rgb(74, 70, 70);
    color: #fff;
    margin: 2px;
    padding: 3px 6px;
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    align-items: center;
}