<div>
  <form>
    <div class="form first-row">
      <p>
        <label>Date</label><br />
        <input 
          type="date"
          name="date" 
          id="date"
          [(ngModel)]="transactionDate"
        />
      </p>
      <p>
        <label>Category</label><br />
        <select 
          id="category"
          name="category"
          [(ngModel)]="transactionCategory"
        >
          @for(category of categories; track category){
            <option>{{ category }}</option>
          }
        </select>
      </p>
    </div>
    <div class="form">
      <p>
        <label>Amount</label><br />
        <input 
          type="number"
          name="number"  
          id="amount"
          [(ngModel)]="transactionAmount"
        />
      </p>
    </div>
    <div class="form decription">
      <p>
        <label>Description</label><br />
        <textarea 
          name="request" 
          id="description" 
          rows="3" 
          [(ngModel)]="transactionDescription"
        ></textarea>
      </p>
    </div>
  </form>
</div>









<!-- when you are using ngModel in forms don't forget to give name attribute or else error will be thrown in console 
Error: NG01352: If ngModel is used within a form tag, either the name attribute must be set or the form
    control must be defined as 'standalone' in ngModelOptions.

    Example 1: <input [(ngModel)]="person.firstName" name="first">
    Example 2: <input [(ngModel)]="person.firstName" [ngModelOptions]="{standalone: true}">
    at missingNameException (forms.mjs:3944:10)
    at _NgModel._checkName (forms.mjs:4296:13)
    at _NgModel._checkForErrors (forms.mjs:4282:10)
    at _NgModel.ngOnChanges (forms.mjs:4204:10)
    at _NgModel.rememberChangeHistoryAndInvokeOnChangesHook (core.mjs:4101:14)
    at callHookInternal (core.mjs:5136:14)
    at callHook (core.mjs:5167:9)
    at callHooks (core.mjs:5118:17)
    at executeInitAndCheckHooks (core.mjs:5068:9)
    at selectIndexInternal (core.mjs:11029:17) -->