<div>
  <form>
    <div class="form first-row">
      <p>
        <label>Date</label><br />
        <input 
          type="date" 
          id="date"
          [(ngModel)]="transactionDate"
        />
      </p>
      <p>
        <label>Category</label><br />
        <select 
          id="category"
          [(ngModel)]="transactionCategory"
        >
          @for(category of categories; track category){
            <option>{{ category }}</option>
          }
        </select>
      </p>
    </div>
    <div class="form">
      <p>
        <label>Amount</label><br />
        <input 
          type="number" 
          id="amount"
          [(ngModel)]="transactionAmount"
        />
      </p>
    </div>
    <div class="form decription">
      <p>
        <label>Description</label><br />
        <textarea 
          name="request" 
          id="description" 
          rows="3" 
          [(ngModel)]="transactionDescription"
        ></textarea>
      </p>
    </div>
  </form>
</div>
