.infocard{
    width: 400px;
    height: 250px;
    background-color: rgb(106, 205, 41);
    border-radius: 5px;
    // box-shadow: 0 4px 8px 0 rgba(255, 246, 246, 1), 0 6px 20px 0 rgba(255, 255, 255, 1);
}